## Heroes Of Pymoli Homework - Reda Boubakri

## Dependencies

In [1]:
# Dependencies 
import pandas as pd
import numpy as np

## File Path

In [2]:
# File Path
data_source = "purchase_data.csv"

In [3]:
# Reading Purchasing File and Storing it Into Pandas Data Frame
purchase_data = pd.read_csv(data_source)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
# Calculating and Creating Total Players Data Frame
total_players = len(purchase_data['SN'].value_counts())
total_players_df = pd.DataFrame([total_players], columns = ["total_players"])
total_players_df

   total_players
0            576

## Purchasing Analysis (Total)

In [5]:
# Calculating Number of Unique Items
unique_items = len(purchase_data['Item ID'].value_counts())

# Calculating Average Purchase Price                        
average_price = round(purchase_data['Price'].mean(), 2)

# Calculating Total Number of Purchases
purchases_number = purchase_data['Price'].count()

# Calculating Total Revenue
total_revenue = round(purchase_data['Price'].sum(), 2)                           

# Creating List for Analysis
purchase_analysis = []

# Appending values to list
purchase_analysis.append(unique_items)
purchase_analysis.append("$" + str(average_price))
purchase_analysis.append(purchases_number)
purchase_analysis.append("$" + str(total_revenue))

# Creating the DataFrame
purchase_analysis = pd.DataFrame([purchase_analysis], columns = ["Number of Unique Items", 
                                                                  "Average Price", 
                                                                  "Number of Purchases", 
                                                                  "Total Revenue"])
purchase_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

In [6]:
# Calculating Total of Gender
gender_data = purchase_data[['SN','Gender']]
gender_data = gender_data.drop_duplicates()
gender_total = gender_data['Gender'].count()

# Calculating Male, Female and Non Gender Totals
males = gender_data['Gender'].value_counts()['Male']
females = gender_data['Gender'].value_counts()['Female']
other_gender = gender_total - males - females

#Calculating each gender percent
male_percent = males / gender_total * 100
female_percent = females / gender_total * 100
other_gender_percent = other_gender / gender_total * 100

#Creating DataFrame & setting index and Formatting
gender_demographics = pd.DataFrame({"Total Counts" : [males, females, other_gender], 
                                   "Percentage of Players" : [male_percent, female_percent, other_gender_percent]})

gender_demographics.index = (["Male", "Female", "Other / Non-Disclosed"])

gender_demographics.style.format({"Percentage of Players" : "{:.2f}%"})


## Purchasing Analysis (Gender)

In [7]:
# Total Number of Purchases by Gender.
purchases_count_by_gender = purchase_data.groupby('Gender')['Item Name'].count()

# Average Purchase Price of Items by Gender.
average_price_by_gender = round(purchase_data.groupby('Gender')['Price'].mean(), 2)

# Total Purchase Value by Gender.
total_purchase_value = purchase_data.groupby('Gender')['Price'].sum()

# Average Purchase Total Per Person by Gender
average_purchase_by_gender = round(total_purchase_value / [females, males, other_gender], 2)

# Creating DataFrame and Formattging
purchase_gender = pd.DataFrame({"Purchase Count": purchases_count_by_gender,
                             "Average Purchase Price": average_price_by_gender,
                             "Total Purchase Value": total_purchase_value,
                             "Avg Total Purchase per Person" : average_purchase_by_gender})
purchase_gender.style.format({"Average Purchase Price" : '${:.2f}',
                             "Total Purchase Value" : '${:.2f}',
                             "Avg Total Purchase per Person" : '${:.2f}'})


## Age Demographics

In [8]:
# Dropping Duplicates
age_demo_data = purchase_data[["SN","Age"]]
age_demo_data = age_demo_data.drop_duplicates()

# Age count
age10 = age_demo_data[age_demo_data["Age"] < 10].count()[0]
age14 = age_demo_data[(age_demo_data["Age"] >= 10) & (age_demo_data["Age"] <= 14)].count()[0]
age19 = age_demo_data[(age_demo_data["Age"] >= 15) & (age_demo_data["Age"] <= 19)].count()[0]
age24 = age_demo_data[(age_demo_data["Age"] >= 20) & (age_demo_data["Age"] <= 24)].count()[0]
age29 = age_demo_data[(age_demo_data["Age"] >= 25) & (age_demo_data["Age"] <= 29)].count()[0]
age34 = age_demo_data[(age_demo_data["Age"] >= 30) & (age_demo_data["Age"] <= 34)].count()[0]
age39 = age_demo_data[(age_demo_data["Age"] >= 35) & (age_demo_data["Age"] <= 39)].count()[0]
age40 = age_demo_data[age_demo_data["Age"] >= 40].count()[0]

# Age Bins
ages = [age10, age14, age19, age24, age29, age34, age39, age40]

# Percents
percent10 = round((age10/total_players)*100,2)
percent14 = round((age14/total_players)*100,2)
percent19 = round((age19/total_players)*100,2)
percent24 = round((age24/total_players)*100,2)
percent29 = round((age29/total_players)*100,2)
percent34 = round((age34/total_players)*100,2)
percent39 = round((age39/total_players)*100,2)
percent40 = round((age40/total_players)*100,2)

# Percents Bins
percents = [percent10, percent14, percent19, percent24, percent29, percent34, percent39, percent40]

# Creating the dictionary
age_demographics = {"Total Count": ages,"Percent of Players": percents}

# Creating DataFrame & setting index
age_demographics_df = pd.DataFrame(age_demographics)
age_demographics_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demographics_df

       Total Count  Percent of Players
<10             17                2.95
10-14           22                3.82
15-19          107               18.58
20-24          258               44.79
25-29           77               13.37
30-34           52                9.03
35-39           31                5.38
40+             12                2.08

## Purchasing Analysis (Age)

In [9]:
# Purchase Count "pc"
pc10 = purchase_data[purchase_data["Age"] < 10].count()[0]
pc14 = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)].count()[0]
pc19 = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)].count()[0]
pc24 = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)].count()[0]
pc29 = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)].count()[0]
pc34 = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)].count()[0]
pc39 = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)].count()[0]
pc40 = purchase_data[purchase_data["Age"] >= 40].count()[0]

# Defining Purchase Bins
purchases = [pc10, pc14, pc19, pc24, pc29, pc34, pc39, pc40]

# Total Purchase Value "tpv"
tpv10 = purchase_data.loc[purchase_data['Age'] < 10, 'Price'].sum()
tpv14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <=14), 'Price'].sum()
tpv19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <=19), 'Price'].sum()
tpv24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <=24), 'Price'].sum()
tpv29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <=29), 'Price'].sum()
tpv34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <=34), 'Price'].sum()
tpv39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <=39), 'Price'].sum()
tpv40 = purchase_data.loc[purchase_data['Age'] >= 40, 'Price'].sum()

# Defining Totals Bins
totals = [tpv10, tpv14, tpv19, tpv24, tpv29, tpv34, tpv39, tpv40]

# Average Purchase Price
avg_price_age = [tpv10/pc10, tpv14/pc14, tpv19/pc19, tpv24/pc24,tpv29/pc29,
              tpv34/pc34, tpv39/pc39, tpv40/pc40]

# Average Totals per Person
avg_t_p = [tpv10/age10, tpv14/age14, tpv19/age19, tpv24/age24, tpv29/age29, tpv34/age34,
           tpv39/age39, tpv40/age40]

# Creating dictionary
puchase_analysis_age = {
    "Purchase Count": purchases,
    "Average Purchase Price": avg_price_age,
    "Total Purchase Value": totals,
    "Avg Total Purchase per Person": avg_t_p
}

# Creating DataFrame & setting index
purchase_analysis_age_df = pd.DataFrame(puchase_analysis_age)
purchase_analysis_age_df = purchase_analysis_age_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value',
                                                 'Avg Total Purchase per Person']]
purchase_analysis_age_df.index = (["<10", "10-14","15-19","20-24","25-29","30-34","34-39","40+"])

# Formatting Prices
purchase_analysis_age_df.style.format({"Average Purchase Price": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}",
                                     "Total Purchase Value":"${:.2f}"})

## Top Spenders

In [10]:
# Calculating Purchase Count
players_purchase_count = purchase_data.groupby('SN').count()['Price'].rename("Purchase Count")

# Calculating Average Purchase Price
players_average_price = purchase_data.groupby('SN').mean()['Price'].rename("Average Purchase Price")

# Calculating Total Purchase Value
players_total_value = purchase_data.groupby('SN').sum()['Price'].rename("Total Purchase Value")

# Creating DataFrame and Formatting
total_players = pd.DataFrame({"Purchase Count" : players_purchase_count,
                              "Average Purchase Price" : players_average_price,
                              "Total Purchase Value" : players_total_value})

total_players = total_players.sort_values("Total Purchase Value", ascending=False)

total_players.head().style.format({"Average Purchase Price" : '${:.2f}',
                                   "Total Purchase Value" : '${:.2f}'})

## Most Popular Items

In [11]:
# Retrieving and gouping by "Item ID" and "Item Name" and calculating:

# Purchase Count
items_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Item Price
items_average_price = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")

# Total purchase value
items_value_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# crating the Dataframe and Styling
items_purchased = pd.DataFrame({"Purchase Count":items_purchase_count,
                                   "Item Price":items_average_price,
                                   "Total Purchase Value":items_value_total})

items_purchased = items_purchased.sort_values("Purchase Count", ascending=False)

items_purchased.head().style.format({"Item Price" : '${:.2f}',
                                   "Total Purchase Value" : '${:.2f}'})

## Most Profitable Items

In [12]:
# Identify the 5 most profitable items
items_purchased = items_purchased.sort_values("Total Purchase Value", ascending=False)

items_purchased.head().style.format({"Item Price" : '${:.2f}',
                                   "Total Purchase Value" : '${:.2f}'})